
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Blog</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header class="section">
        <!-- header inner -->
        <div class="header_main">
            <div class="header_main">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">
                                    <div class="logo"> <a href="/Home/MainPage"><img src="~/images/logo.png" alt="#"></a> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                            <div class="menu-area">
                                <div class="limit-box">
                                    <nav class="main-menu">
                                        <ul class="menu-area-main">
                                            <li> <a href="/Home/MainPage">Home</a> </li>
                                            <li> <a href="/Home/AboutUs">About</a> </li>
                                            <li><a href="/Home/Testmonial">Testmonial</a></li>
                                            <li><a href="/Home/Shop">Shop</a></li>
                                            <li><a href="/Home/ContactUs">Contact Us</a></li>
                                            <li class="last"><a href="#"><img src="~/images/search_icon.png" alt="icon" /></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <!--Our  Clients -->
    <div id="plant" class="section_Clients layout_padding padding_bottom_0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage">
                        <h2>Blog</h2>
                        <span style="text-align: center;">available, but the majority have suffered alteration in some form, by injected randomised words which don't look even slightly believable</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clothes_main section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="sport_product">
                        <div class="news-img">
                            <img src="~/Content/Images/Fi.jpg" class="img-responsive" />
                            <div class="deat">
                                <span>10</span>
                                <span>Feb</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-whatsapp"></i>
                            <p style="font-size: 18px; font-weight: bold;"><b>Men At Work</b></p>
                            <p style="font-size: 16px;">
                                Men at Work is an Australian reggae-influenced
                                rock band that formed in 1979 in St. Kilda,
                                a suburb of Melbourne. Men at Work often used
                                woodwind and brass instruments.
                                In 1986, they disbanded, but in 1996 they
                                reformed and are still playing.
                                Their biggest success they had in the 1980s.
                            </p>
                            <br />
                            <a href="">Read More</a>
                        </div>


                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="sport_product">
                        <div class="news-img">
                            <img src="~/Content/Images/se.jpg" class="img-responsive" />
                            <div class="deat">
                                <span>11</span>
                                <span>Feb</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-whatsapp"></i>
                            <p style="font-size: 18px; font-weight: bold;"><b>Let There Be Rock</b></p>
                            <p style="font-size: 16px;">
                                Let There Be Rock is the fourth studio album
                                by Australian hard rock band AC/DC. It was
                                the band's third studio album released
                                internationally and the fourth to be released
                                in Australia. It was also the last AC/DC album
                                to feature Mark Evans on bass. It was originally
                                released on 21 March 1977 in Australia.
                            </p>
                            <br />
                            <a href="">Read More</a>
                        </div>
                    </div>



                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="sport_product">
                        <div class="news-img">
                            <img src="~/Content/Images/RingBell.jpg" class="img-responsive" />
                            <div class="deat">
                                <span>12</span>
                                <span>Feb</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-whatsapp"></i>
                            <p style="font-size: 18px; font-weight: bold;"><b>Ring My Bell</b></p>
                            <p style="font-size: 16px;">
                                This disco classic was written by Ward's producer,
                                Frederick Knight. He originally intended it for 11-year-old
                                Stacy Lattisaw, but when she signed with a different label,
                                Ward was asked to sing it instead.
                                She disliked the song and only recorded it as Frederick Knight
                                needed another dance number on the album.
                            </p>
                            <br />
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                    <div class="sport_product">
                        <div class="news-img">
                            <img src="~/images/Ballss.jpeg" class="img-responsive" />
                            <div class="deat">
                                <span>13</span>
                                <span>Feb</span>
                            </div>
                        </div>
                        <div class="news-content">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-youtube"></i>
                            <i class="fa fa-whatsapp"></i>
                            <p style="font-size: 18px; font-weight: bold;"><b>Ball To The Walls</b></p>
                            <p style="font-size: 16px;">
                                "Balls to the Wall" is a song by German heavy metal
                                band Accept, released as the lead single from their
                                1983 fifth studio album of the same name. The anthemic title
                                became Accept's signature song, for which a music video was shots
                                that received American airplay on MTV, music video the band
                                performing onstage with a wrecking ball.
                            </p>
                            <br />
                            <a href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    <!-- end Our  Clients -->
    <!-- footer start-->
    <div id="plant" class="footer layout_padding">
        <div class="container">
            <p>© 2021 All Rights Reserved. Design by<a href="https://html.design/"> Free Web Designer</a></p>
        </div>
    </div>
    <!-- Javascript files-->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.0.0.min.js"></script>
    <script src="~/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- javascript -->
    <script src="~/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>


</body>
</html>
<style>
    p {
        font-size: 15px;
    }

    .latest-news-area {
        margin-top: 40px;
    }

    .latest-news-wrap {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    }

    .news-img {
        position: relative;
    }

        .news-img:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #000;
            content: "";
            opacity: 0;
            transform: scale(.8);
            transition: all 0.5s;
        }

    .latest-news-wrap:hover .news-img:before {
        opacity: .5;
        transform: scale(1);
    }

    .deat {
        background: #136af8 none repeat scroll 0 0;
        height: 70px;
        left: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 70px;
        padding: 10px;
    }

        .deat span {
            display: block;
            color: white;
            font-weight: 700;
            font-size: 16px;
        }

    .news-content {
        padding: 20px;
        margin-left: 3px;
    }

        .news-content i {
            font-size: 18px;
            display: inline-block;
        }

        .news-content .fa {
            padding: 10px 10px;
            cursor: pointer;
        }

        .news-content .fa-facebook {
            color: #3b5995;
        }

        .news-content .fa-twitter {
            color: #0084b4;
        }

        .news-content .fa-linkedin {
            color: #0077b5;
        }

        .news-content .fa-youtube {
            color: red;
        }

        .news-content .fa-whatsapp {
            color: #34af23;
        }

        .news-content p {
            margin-bottom: 15px;
            text-align: justify;
            margin-top: 20px;
        }

        .news-content a {
            font-size: 14px;
            background-color: #136af8;
            padding: 10px 20px;
            color: white;
            transition: all 0.5s ease-in;
        }

            .news-content a:hover {
                font-size: 14px;
                border: 1px solid #34495e;
                border-top-right-radius: 20px;
                background-color: transparent;
                color: #34495e;
                text-decoration: none;
            }
</style>
