
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- start Contact Us-->

<div class="contact_us_2 layout_padding paddind_bottom_0">
    <div id="plant" class="contact_us layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="titlepage">
                        <h2 style="text-align: center; margin-top: 45px; color: white">Contact <strong style="color: #111315;">Us</strong></h2>
                        <span style="text-align: center;">available, but the majority have suffered alteration in some form, by injected randomised words which don't look even slightly believable</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @*<div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
                            <input class="btn_custom" type="submit" value="Visit our store" id="btn-res"/>
                        </div>
                    </div>
                </div>*@
            <div class="col-md-6">
                <div class="soc_text">MVC</div>
            </div>
            @*name email phone message*@
            <div class="col-md-6">
                <div class="email_btn">
                    <form method="post" action="ContactUs">
                        <div class="form-group">
                            <input required style="color: black;" type="text" class="form-control form-control-sm" placeholder="Name" name="name">
                        </div>
                        <div class="form-group">
                            <input required style="color: black;" type="text" class="form-control form-control-sm" placeholder="Email" name="email">
                        </div>
                        <div class="form-group">
                            <input required style="color: black;" type="text" class="form-control form-control-sm" placeholder="Phone" name="subject">
                        </div>
                        <div class="form-group">
                            <input required style="color: black;" type="text" class="form-control form-control-sm" placeholder="Message" name="message">
                        </div>
                        <div class="submit_btn">
                            <button type="submit" class="btn btn-primary" style="background: #081b30;">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="contact_us_3 layout_padding">
                <div class="row">
                    <div class="col-md-4">
                        <h1 style="color: #ffffff; ">Newsletter</h1>
                        <p class="long_text">It is a long established fact that a reader will be distracted  a</p>
                    </div>
                    <div class="col-md-8">
                        <div class="email_text">
                            <form action="/Home/ContactByMail" method="post">
                                <div class="input-group mb-3">
                                    <input required style="border-bottom-left-radius: 20px !important; border-top-left-radius: 20px !important;" type="text" class="form-control" placeholder="Enter your email" name="subscribe">
                                    <div class="input-group-append" style="margin-left: 20px;">
                                        <button type="submit" style="border-top-right-radius: 20px !important; border-bottom-right-radius: 20px !important; color: #fff; padding-bottom: 10px; padding-top: 10px;" class="btn btn-primary">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="footer" class="Address layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="titlepage">
                    <div class="main">
                        <h1 class="address_text">Address</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="address_2">
            <div class="row">
                <div class="col-sm-4">
                    <div class="site_info">
                        <span class="info_icon"><img src="~/images/map-icon.png" /></span>
                        <span style="margin-top: 10px;">Oxford OX1 2JD, U.K</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="site_info">
                        <span class="info_icon"><img src="~/images/phone-icon.png" /></span>
                        <span style="margin-top: 21px;">( +71 01223838744 )</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="site_info">
                        <span class="info_icon"><img src="~/images/email-icon.png" /></span>
                        <span style="margin-top: 21px;">unehihi@gmail.com</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu_main">
        <div class="menu_text">
            <ul>
                <li> <a href="/Home/Index">Home</a> </li>
                <li> <a href="/Home/AboutUs">About</a> </li>
                <li><a href="/Home/Testmonial">Testmonial</a></li>
                <li><a href="/Home/Shop">Shop</a></li>
                <li><a href="/Home/ContactUs">Contact Us</a></li>
                <li class="last"><a href="#"><img src="~/images/search_icon.png" alt="icon" /></a></li>
            </ul>
        </div>
    </div>
</div>
    </div>

<!-- end Contact Us-->
<!-- footer start-->
<div id="plant" class="footer layout_padding">
    <div class="container">
        <p>© 2021 All Rights Reserved. Design by<a href="https://html.design/"> Free Web Deisgner</a></p>
    </div>
</div>

<!-- Javascript files-->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery-3.0.0.min.js"></script>
<script src="~/js/plugin.js"></script>
<!-- sidebar -->
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/custom.js"></script>
<!-- javascript -->
<script src="~/js/owl.carousel.js"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
<script>
    $(document).ready(function () {
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });

        $(".zoom").hover(function () {

            $(this).addClass('transition');
        }, function () {

            $(this).removeClass('transition');
        });
    });</script>
<style>
    .btn_custom:hover {
        font-size: 14px;
        border: 1px solid #34495e;
        border-top-right-radius: 20px;
        background-color: transparent;
        color: #34495e;
        text-decoration: none;
    }

    .btn_custom {
        font-size: 14px;
        background-color: #136af8;
        padding: 10px 20px;
        color: white;
        transition: all 0.5s ease-in;
    }
</style>

