
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gallery</title>
</head>
<body style="background: white;">
    <div> 
        <h2>This awesome Gallery layout is powered by my team</h2>
<br />
<form action="https://www.pexels.com/">
    <button formtarget="_blank" style="padding: 10px; border-radius: 10px; font-size: 14px; font-family: 'Roboto' ">Click here for more image</button>
</form>
        <br />
<form action="/Home/Myindex">
    <button style="padding: 10px; border-radius: 10px; font-size: 14px; font-family: 'Roboto' ">Click here to back Main page</button>
</form>
<br />
<div>
    <img src="~/Content/Images/Galle1.jpg" />
    <img src="~/Content/Images/pexels-stas-knop-1626481.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Galle2.jpg" />
    <img src="~/Content/Images/Galle3.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Galle4.jpg" />
    <img src="~/Content/Images/Galle42.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/1.jpg" />
    <img src="~/Content/Images/Gallery/2.jpg" />
    <img src="~/Content/Images/Gallery/3.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/4.jpg" />
    <img src="~/Content/Images/Gallery/5.jpg" />
    <img src="~/Content/Images/Gallery/6.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/7.jpg" />
    <img src="~/Content/Images/Gallery/8.jpg" />
    <img src="~/Content/Images/Gallery/9.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/10.jpg" />
    <img src="~/Content/Images/Gallery/11.jpg" />
    <img src="~/Content/Images/Gallery/12.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/13.jpg" />
    <img src="~/Content/Images/Gallery/14.jpg" />
    <img src="~/Content/Images/Gallery/15.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/16.jpg" />
    <img src="~/Content/Images/Gallery/17.jpg" />
    <img src="~/Content/Images/Gallery/18.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/pe1.jpg" />
    <img src="~/Content/Images/Gallery/pe2.jpg" />
    <img src="~/Content/Images/Gallery/pe3.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/pe4.jpg" />
    <img src="~/Content/Images/Gallery/pe5.jpg" />
    <img src="~/Content/Images/Gallery/pe6.jpg" />
</div>
<br />
<br />
<div>
    <img src="~/Content/Images/Gallery/pe7.jpg" />
    <img src="~/Content/Images/Gallery/pe8.jpg" />
    <img src="~/Content/Images/Gallery/pe9.jpg" />
</div>
<br />
<br />
<style>
    button:hover {
        color: white;
        background: #136af8;
    }
</style>
    </div>
</body>
</html>
