@{ ViewBag.Title = "Error";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Error</h2>
<h2 style="font-size: 28px;">Some thing went wrong</h2>
<p style="font-size: 16px;">
    Please check you information again
    <a href="/Home/AboutUs">Click <strong>Here</strong> and input your information again</a>
</p>
